@charset "UTF-8";
/* CSS Document */

body{
	background-color:#BDB7B8;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}


a:hover {
    background-color: yellow;
}

h1 {
    color: #FFFFFF;
    text-align: center;
	font-size:30px;
	margin:0;
}

h3 {
    color: #Blue;
    text-align: left;
	font-size:24px;
	margin:0;
}

#nav .selected {
	font-weight:bold;
	text-decoration:none;
}

a { 
text-decoration:none;
color:#DD0B74;
}

#nav ul {
	list-style-type:none;
	padding: 0;
}
	
#container{
	background-color:#FFFFFF;
	width:800px;
	margin-right:auto;
	margin-left:auto;
}
#header{
	background-color: #66CCFF;
	color:#FFFFFF;
	text-align:center;
	font-size:10px
	

}
#about{
	background-color: #66CCFF;
	color:#FFFFFF;
	text-align:center;
	font-size:10px
}

#content{
	padding:8px 8px 8px 8px;
}

#nav{
	background-color:#FFFFFF;
	width:180px;
	float:left;
}
#main{
	background-color:#FFFFFF;
	width:600px;
	float:right;
}
#footer{
	text-align:center;
	clear:both;
	padding:5px;
	background-color:#999999;
	color:#FFFFFF;
	text-align:right;
	font-size:9px
}





